:root {
    --section-margin: 92px;
    --h2-margin: 16px;
    --primary-color: rgb(66, 66, 66);
    --secondary-color: rgb(216, 213, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header-name {
    text-align: center;
    font-size: 32px;
    padding: 60px;
    background-color: var(--primary-color);
    color: rgb(243, 242, 232);
}

nav ul{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 16px;
    background-color: rgb(104, 101, 101);
    margin-bottom: var(--section-margin);
}

nav ul li {
    margin: 8px;
    text-emphasis:bold ;
    text-align: center;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me h2 {
    margin-bottom: var(--h2-margin);
}

#about-me img {
    border-radius: 50%;
    margin-bottom: 20px;
}

#about-me p {
    font-size: 16px;
    width: 80%;
    margin-bottom: var(--section-margin);
    max-width: 960px;
}

#projects h2 {
    text-align: center;
    margin-bottom: var(--h2-margin);
}

.project-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-style: solid 1px black;
    max-width: 700px;
}

.project-images img {
    height: 400px;
    border-radius: 4%;
    margin-top: 8px ;
}

.project-1 {
    width: 700px;
    transition: 0.3s
}

.project-1:hover {
    transform:scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(214, 171, 106));
    transition: 0.3s
}

.project-2 {
    width: 346px;
    margin-right: 4px;
    transition: 0.3s
}

.project-2:hover {
    transform:scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(75, 119, 200));
    transition: 0.3s
}

.project-3 {
    width: 346px;
    margin-left: 4px;
    transition: 0.3s
}

.project-3:hover {
    transform:scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(226, 82, 82));
    transition: 0.3s
}

.project-4 {
    width: 517px; 
    margin-right: 8px;   
    transition: 0.3s
}

.project-4:hover {
    transform:scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(65, 145, 77));
    transition: 0.3s
}

.project-5 {
    width: 175px;
    transition: 0.3s
}

.project-5:hover {
    transform:scale(1.01);
    filter: drop-shadow(0 0 0.75rem rgb(44, 44, 44));
    transition: 0.3s
}

#contact-me h2 {
    margin-top: 92px;
    text-align: center;
    margin-bottom: var(--h2-margin);
}

.contact-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.contact-links ul li a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    transition: 0.3s;
}

.contact-links ul li a:hover {
    transition: ease-in-out;
    color: rgb(226, 127, 127);
}

footer {
    text-align: center;
    margin-top: var(--section-margin);
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    margin-bottom: 46px;
}

footer a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    transition: 0.3s;
}

footer a:hover {
    transition: ease-in-out;
    color: rgb(226, 127, 127);
}

