@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;800&family=Qwigley&family=Roboto&display=swap');

:root {
    --section-margin: 92px;
    --h2-margin: 16px;
    --primary-color: rgb(66, 66, 66);
    --secondary-color: rgb(216, 213, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#home {
    background-image: url(../images/city.jpeg);
    background-size: cover;
    height: 800px;
    margin-bottom: 56px;
    height: 100vh;
}

.header-name {
    display: flex;
    font-size: 40px;
    padding: 60px;
    color: rgb(243, 242, 232);
    font-family: "Qwigley";
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.picture-of-me {
    border-radius: 50%;
    width: 200px;
    box-shadow: 5px 5px 5px 5px rgb(228, 233, 228) inset;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 8px;
    background-color: rgb(18, 18, 18);
    opacity: 80%;
    margin-bottom: var(--section-margin);
}

nav ul li {
    padding: 8px;
    font-weight: 300;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    opacity: 100%;
}

nav ul li a:hover {
    color: rgb(195, 195, 195);
    opacity: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 52px 0;
}

#about-me h2 {
    margin-bottom: var(--h2-margin);
    font-family: "Qwigley";
    font-size: 60px;
}


#about-me p {
    font-size: 16px;
    width: 80%;
    margin-bottom: var(--section-margin);
    max-width: 960px;
    text-align: center;
    line-height: 150%;
}

#my-projects h2 {
    text-align: center;
    margin-bottom: var(--h2-margin);
    font-family: "Qwigley";
    font-size: 60px;
}

.project-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-style: solid 1px black;
    max-width: 700px;
    position: relative;
    text-align: center;
    color: #fff;
}

.project-images img {
    height: 500px;
    border-radius: 4%;
    margin-top: 8px;
}

.project-1 {
    width: 700px;
    transition: 0.3s;
    opacity: 80%;
}

.project-1:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(227, 64, 64));
    transition: 0.3s;
    opacity: 95%;
}

.pokeballer {
    position: absolute;
    background-position: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 900;
    text-shadow: 4px 4px 8px rgb(64, 65, 65);
}

.pokeballer a {
    text-decoration: none;
    color: #fff;
}

.project-2 {
    width: 346px;
    margin-right: 4px;
    transition: 0.3s;
    opacity: 80%;
}

.project-2:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(64, 186, 98));
    transition: 0.3s;
    opacity: 100%;
}

.fresh-air-finder {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 900;
    text-shadow: 4px 4px 8px rgb(64, 65, 65);

}

.fresh-air-finder a {
    text-decoration: none;
    color: #fff;
}

.project-3 {
    width: 346px;
    margin-left: 4px;
    transition: 0.3s;
    opacity: 90%;
}

.project-3:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 0.75rem rgb(225, 195, 149));
    transition: 0.3s;
    opacity: 100%;
}

.better-self {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 900;
    text-shadow: 4px 4px 8px rgb(64, 65, 65);
}

.better-self a {
    text-decoration: none;
    color: #fff;
}

#contact-me {
    margin-top: 60px;
}

#contact-me h2 {
    margin-top: 92px;
    text-align: center;
    margin-bottom: var(--h2-margin);
    font-size: 60px;
    font-family: "Qwigley";
}

.contact-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.contact-links ul li {
    margin-bottom: 4px;
}

.contact-links ul li a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    transition: 0.3s;
}

.contact-links ul li a:hover {
    transition: ease-in-out;
    color: rgb(226, 127, 127);
}

footer {
    text-align: center;
    margin-top: var(--section-margin);
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    margin-bottom: 46px;
}

footer a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    transition: 0.3s;
}

footer a:hover {
    transition: ease-in-out;
    color: rgb(226, 127, 127);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {

    /* NAV */
    /* .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        top: initial;
        display: block;
        width: 100%;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .navbar ul a {
        display: flex;
        flex-direction: column;
        margin-bottom: 4px;
    } */

    /* .contact-me {
        border-bottom: 1px solid rgb(76, 76, 76);
        margin: 0 24px 0 24px;
    } */

    .home,
    /* .projects, */
    .about-me {
        display: none;
    }

    .resume {
        display: block;
    }

    /* HEADER */
    .header-name {
        text-align: center;
    }

    .header-name h1 {
        font-size: 75px;
    }

    #home {
        height: 100vh;
    }

    /* PROJECTS */
    .project-images {
        display: flex;
        flex-direction: column;
    }

    .project-images img {
        height: 500px;
        margin-bottom: 24px;
    }

    .pokeballer a {
        position: relative;
        bottom: 100px;
    }

    .project-1 {
        width: 330px;
        object-fit: cover;
    }

    .fresh-air-finder a {
        position: absolute;
        bottom: 340px;
        left: 30px;
    }

    .project-2 {
        width: 330px;
        margin-bottom: 0;
    }

    .better-self a {
        position: absolute;
        right: 20px;
        top: 75px;
    }

    .project-3 {
        width: 330px;
    }
}